* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    pointer-events: none;
    user-select: none;
}

html {
    height: 100vh;
}

body {
    position: relative;
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 48vh;
    margin-left: auto;
    margin-right: auto;
}

#sweet {
    color: white;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#sweet h1 {
    width: 50vh;
    text-align: center;
    font-size: 2.6vh;
    margin-top: 28vh;
}

#sweet i {
    position: absolute;
    width: 48vh;
    text-align: center;
}

.fa-music {
    margin-top: -12vh;
    font-size: 7vh;
}

.fa-circle {
    opacity: 0.3;
    font-size: 9vh;
    margin-top: -13vh;
}

.fa-circle-xmark {
    opacity: 0.6;
    font-size: 6vh;
}

.fa-border-all {
    opacity: 0.6;
    font-size: 6vh;
}

#logo {
    margin-top: 3vh;
    width: 100%;
    display: inline-block;
    font-size: 1.4vh;
    font-weight: bold;
    pointer-events: all;
}

.fa-guitar {
    opacity: 0.8;
    font-size: 2vh;
    background: cyan;
    background: linear-gradient(#00f7ff, #ffae00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#play {
    pointer-events: all;
    user-select: none;
    position: absolute;
    background-color: green;
    background: rgb(172, 110, 184);
    background: linear-gradient(155deg, rgba(172, 110, 184, 1) 0%, rgba(137, 81, 172, 1) 35%, rgba(17, 8, 89, 1) 100%);
    height: 40%;
    width: 48vh;
    width: min(48vh, 100vw);
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 2;
}


.square {
    pointer-events: all;
    user-select: none;
}

.square-no-border {
    border: dashed transparent;
    border-width: 0.2vh;
}

.square-border {
    border: dashed purple;
    border-width: 0.2vh;
}

#info {
    position: absolute;
    background-color: rgb(17, 17, 17);
    height: 65%;
    width: 48vh;
    width: min(48vh, 100vw);
    bottom: 0;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
}

#info::before {
    content: "";
    position: absolute;
    top: -39vh;
    left: -30vh;
    height: 50vh;
    width: 110vh;
    background-color: green;
    background: rgb(172, 110, 184);
    background: linear-gradient(155deg, rgb(101, 54, 161) 54%, rgba(17, 8, 89, 1) 81%);
    border-radius: 50%;
}

hr {
    color: transparent;
    background-color: white;
    position: absolute;
    opacity: 0.1;
    margin-top: 1vh;
    left: 1.5vh;
    height: 0.3vh;
    width: 45vh;
}

#info h3 {
    font-size: 2.5vh;
    margin: 0;
    margin-top: 1.2vh;
    padding: 0;
}

#info h2 {
    font-size: 3.5vh;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
}

#info h6 {
    font-size: 1.6vh;
    margin: 0;
    padding: 0;
    margin-top: 1.4vh;
    margin-bottom: 0.5 vh;
    opacity: 0.8;
}

#current-date {
    opacity: 0.6;
    margin-top: 12vh;
    font-weight: bold;
    font-size: 1.6vh;
}

.horizontal-text {
    margin-top: 1vh;
    position: relative;
    width: 100%;
}

.horizontal-text button {
    pointer-events: all;
    text-align: center;
    font-size: 2vh;
    color: white;
    opacity: 0.7;
    background-color: rgb(195, 23, 218);
    width: 20vh;
    height: 6vh;
    border-radius: 1vh;
    margin-top: 1.1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.horizontal-text button:hover {
    opacity: 1;
}


.left {
    text-align: left;
    width: 21vh;
    display: inline-block;
}

.right {
    text-align: right;
    width: 21vh;
    display: inline-block;
}

#footer {
    position: fixed;
    bottom: 3vh;
    width: 84vh;
}

#grid-button {
    pointer-events: all;
    user-select: all;
}

#grid-button:hover {
    opacity: 1.0;
}

select {
    text-align: right;
    pointer-events: all;
    width: 20vh;
    color: white;
    font-size: 1.4vh;
    font-weight: bold;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vh;
    border-radius: 0.8vh;
    border: 0.1vh solid white;
    background-color: rgb(17, 17, 17);
    ;
}

option {
    direction: rtl;
    text-align: right;
    background-color: transparent;
    color: white;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    animation: none;
    z-index: 4;
    overflow: hidden;
}

@keyframes explode {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}