* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    pointer-events: none;
    user-select: none;
    /* background-color: red */
}

html {
    height: 100vh;
}

body {
    position: relative;
    background-color: rgb(36, 36, 36);
    height: 100vh;
    width: 48vh;
    margin-left: auto;
    margin-right: auto;
}

#sweet {
    color: white;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#sweet h1 {
    width: 50vh;
    text-align: center;
    font-size: 2.6vh;
    margin-top: 28vh;
}

#sweet i {
    position: absolute;
    /* background-color: red; */
    width: 48vh;
    text-align: center;
}

.fa-music {
    margin-top: -12vh;
    font-size: 7vh;
}

.fa-circle {
    opacity: 0.3;
    font-size: 9vh;
    margin-top: -13vh;
}

.fa-circle-xmark {
    opacity: 0.6;
    font-size: 6vh;
}

.fa-border-all {
    opacity: 0.6;
    font-size: 6vh;
}

#logo {
    margin-top: 3vh;
    width: 100%;
    display: inline-block;
    font-size: 1.4vh;
    font-weight: bold;
}

.fa-guitar {
    opacity: 0.8;
    font-size: 2vh;
    background: cyan;
    background: linear-gradient(#00f7ff, #ffae00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#play {
    pointer-events: all;
    user-select: none;
    position: absolute;
    background-color: green;
    /* background: rgb(174, 233, 72);
    background: linear-gradient(155deg, rgba(174, 233, 72, 1) 0%, rgba(63, 171, 20, 1) 35%, rgba(11, 106, 43, 1) 100%); */
    background: rgb(172, 110, 184);
    background: linear-gradient(155deg, rgba(172, 110, 184, 1) 0%, rgba(137, 81, 172, 1) 35%, rgba(17, 8, 89, 1) 100%);
    height: 40%;
    width: 48vh;
    width: min(48vh, 100vw);
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 2;
    /* clip-path: circle(300.0% at 50% -240%);
    -webkit-clip-path: circle(300.0% at 50% -240%);
    -moz-clip-path: circle(300.0% at 50% -240%); */
}


.square {}

.square-no-border {
    border: dashed transparent;
    border-width: 0.2vh;
}

.square-border {
    border: dashed purple;
    border-width: 0.2vh;
}

#info {
    position: absolute;
    /* background-color: white; */
    background-color: rgb(17, 17, 17);
    height: 65%;
    width: 48vh;
    width: min(48vh, 100vw);
    bottom: 0;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
}

#info::before {
    content: "";
    position: absolute;
    top: -39vh;
    left: -30vh;
    /*right: 25%; */
    height: 50vh;
    width: 110vh;
    background-color: green;
    /* background: rgb(174, 233, 72);
    background: linear-gradient(155deg, rgb(54, 148, 16) 55%, rgba(11, 106, 43, 1) 83%); */
    background: rgb(172, 110, 184);
    background: linear-gradient(155deg, rgb(101, 54, 161) 54%, rgba(17, 8, 89, 1) 81%);
    border-radius: 50%;
}

hr {
    color: transparent;
    background-color: white;
    position: absolute;
    opacity: 0.2;
    margin-top: 1vh;
    left: 1.5vh;
    height: 0.3vh;
    width: 45vh;
}

#info h3 {
    /* background-color: red; */
    font-size: 2.5vh;
    margin: 0;
    margin-top: 1.2vh;
    padding: 0;
}

#info h2 {
    /* background-color: red; */
    font-size: 3.5vh;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
}

#info h6 {
    /* background-color: red; */
    font-size: 1.6vh;
    margin: 0;
    padding: 0;
    margin-top: 1.4vh;
    margin-bottom: 0.5 vh;
    opacity: 0.8;
}

#current-date {
    opacity: 0.6;
    margin-top: 12vh;
    font-weight: bold;
    font-size: 1.6vh;
}

/* .horizontal-text h6 {
    display: inline-block;
    width: 22vh;
} */

.horizontal-text {
    margin-top: 1vh;
    position: relative;
    width: 100%;
}

.left {
    text-align: left;
    width: 22vh;
    display: inline-block;
}

.right {
    text-align: right;
    width: 22vh;
    display: inline-block;
}

#footer {
    position: absolute;
    bottom: 3vh;
    right: 5vh;
}

#close-button {
    pointer-events: all;
    user-select: all;
}

#close-button:hover {
    opacity: 1.0;
}

#grid-button {
    pointer-events: all;
    user-select: all;
}

#grid-button:hover {
    opacity: 1.0;
}

/* 
#confetti-canvas {
    background-color: red;
    width: 100%;
    height: 100%;
} */

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    animation: none;
    z-index: 4;
}

@keyframes explode {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}